{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/destructuring-assignment": 0
  }
}