body {
    background-color: #EEE;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#root {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    text-align: center;
    border: 1px dashed red;
    padding: 10px;
}